.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* or any other value that suits your needs */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.shefa-image {
  max-width: 100%; /* or any other value that suits your needs */
  max-height: 100%; /* or any other value that suits your needs */
  image-rendering: pixelated; /* this will prevent the image from getting blurry */
}